
<div class="container-fluid flex-grow-1 container-p-y">

  <div class="card-body" [formGroup]="frmForm" >

    <div class="form-row">
      <div class="form-group col-md-12 col-sm-12">
        <label class="form-label">Nome *</label>
        <input type="text" class="form-control" id="nome"
          formControlName="nome"  autofocus="true">
        <div class="clearfix"></div>
        <ng-container *ngIf="f['nome'].touched">
          <span class="erro"*ngIf="f['nome'].errors">Campo Obrigatório</span>
        </ng-container>
      </div>

      <div class="form-group col-md-12 col-sm-12">
        <label class="form-label">CPF</label>
        <input type="text" class="form-control" id="cpf"
          formControlName="cpf"  autofocus="true">
        <div class="clearfix"></div>
        <!-- <ng-container *ngIf="f['cpf'].touched">
          <span class="erro" *ngIf="f['cpf'].errors">
              São necessários 11 números
          </span>
        </ng-container> -->
        <span class="erro" *ngIf="frmForm.get('cpf').getError('cpfNotValid')">
          O CPF não é válido!
        </span>
      </div>

      <div class="form-group col-md-12 col-sm-12">
        <label class="form-label">Data Nascimento</label>
        <input type="text" class="form-control" id="dataNascimento"
          formControlName="dataNascimento"  autofocus="true">
        <div class="clearfix"></div>
      </div>

      <div class="form-group col-md-12 col-sm-12">
        <label class="form-label">Email *</label>
        <input type="email" class="form-control" id="email"
          formControlName="email"  autofocus="true">
        <div class="clearfix"></div>
        <ng-container *ngIf="frmForm.controls['email'].touched">
          <span class="erro" *ngIf="f['email'].errors?.['required']">
              Campo obrigatório
          </span>
          <span class="erro" *ngIf="f['email'].errors?.['email']">
              E-mail inválido
          </span>
      </ng-container>
      </div>

      <div class="form-group col-md-12 col-sm-12">
        <label class="form-label">Telefone</label>
        <input type="text" class="form-control" id="telefone"
          formControlName="telefone"  autofocus="true">
        <div class="clearfix"></div>
      </div>

      <div class="form-group col-md-12 col-sm-12">
        <label class="form-label">Endereço</label>
        <input type="text" class="form-control" id="endereco"
          formControlName="endereco"  autofocus="true">
        <div class="clearfix"></div>
      </div>

      <div class="form-group col-md-6 col-sm-12">
        <label class="form-label">Latitude</label>
        <input type="numeber" class="form-control" id="lat"
          formControlName="lat"  autofocus="true">
        <div class="clearfix"></div>
      </div>

      <div class="form-group col-md-6 col-sm-12">
        <label class="form-label">Longitude</label>
        <input type="numeber" class="form-control" id="lng"
          formControlName="lng"  autofocus="true">
        <div class="clearfix"></div>
      </div>


      <div class="form-group col-md-12 col-sm-12 mt-4">
        <button type="submit" class="btn btn-primary" [disabled]="!frmForm.valid" (click)="save($event)">Salvar</button>
        <a tabindex="0" [routerLink]="['']" class="btn
          btn-outline-secondary">Voltar</a>
      </div>







    </div>
  </div>


  <!-- <form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form> -->


</div>
