<body style="background:linear-gradient(-45deg, #a5c6ce,#467b88);">
  <div class="authentication-wrapper authentication-1 px-4 container"
      style="padding-top: 10%;">

      <div class="authentication-inner"style="padding-top:
          2.25rem;padding-bottom: 0.25rem;
          top: calc(50% - 275px);
          width: 310px;
          background: linear-gradient(-180deg, rgba(255, 255, 255, 0.75),
          rgba(255, 255, 255, 0.75));
          z-index: 3;
          border-radius: 8px;
          box-shadow: 1px 0px 17px -2px rgb(100, 100, 100,0.75);margin: 0 auto;">

          <div class="d-flex justify-content-center align-items-center">
              <div class="ui-w-150">
                  <div class="position-relative">
                      <img src="assets/img/logo.png" alt="Brand Logo"
                          class="img-fluid">
                  </div>
              </div>
          </div>
          <div class="center" style="width: 80%;margin-left: 10%;">
              <form class=" mb-5 mt-1" [formGroup]="form" (submit)="onLogin()">

                <div class="form-group col-md-12 col-sm-12">
                  <label class="form-label">Login *</label>
                  <input type="text" class="form-control" id="login"
                    formControlName="apelido"  autofocus="true">
                  <div class="clearfix"></div>
                  <ng-container *ngIf="f['apelido'].touched">
                    <span class="erro"*ngIf="f['apelido'].errors">Campo Obrigatório</span>
                  </ng-container>
                </div>

                <div class="form-group col-md-12 col-sm-12">
                  <label class="form-label">Senha *</label>
                  <input type="text" class="form-control" id="senha"
                    formControlName="senha"  autofocus="true">
                  <div class="clearfix"></div>
                  <ng-container *ngIf="f['senha'].touched">
                    <span class="erro"*ngIf="f['senha'].errors">Campo Obrigatório</span>
                  </ng-container>
                </div>




                  <!-- <div class="form-group" [ngClass]="{ 'has-danger' : submited
                      && f.apelido.errors }">
                      <label class="form-label" for="apelido">Login</label>
                      <input type="text" class="form-control" id="login"
                          formControlName="apelido" [ngClass]="{ 'is-invalid'
                          : submited && f.apelido.errors }">
                      <span class="invalid-feedback"
                          *ngIf="f.apelido.errors?.required">O login é
                          obrigatório</span>
                      <div class="clearfix"></div>
                  </div> -->
                  <!-- <div class="form-group" [ngClass]="{ 'has-danger' : submited
                      && f.senha.errors }">
                      <label class="form-label d-flex justify-content-between
                          align-items-end">
                          <span>Senha</span>
                      </label>
                      <input type="password" class="form-control"
                          type="password" id="senha" formControlName="senha"
                          [ngClass]="{ 'is-invalid' : submited &&
                          f.senha.errors }">
                      <span class="invalid-feedback"
                          *ngIf="f.senha.errors?.required">A senha é
                          obrigatória</span>
                      <div class="clearfix"></div>
                  </div> -->
                  <div class="d-flex justify-content-between
                      align-items-center" style="margin-left: 33%;
                      margin-top: 11%;">
                      <button type="submit" class="btn btn-primary">Entrar</button>
                  </div>

                  <div class="mt-3" style="text-align: center;" >
                      <p >{{msgErro}}</p>
                  </div>

              </form>

          </div>
      </div>
  </div>
</body>
